<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://th.bing.com/th/id/OIF.SLtPDsMueEAif6myFpxB9Q?pid=ImgDet&rs=1" 
        alt=""
    >
    </div>
    <div class="big-card__title">
            <h1><a href="#">Tite no Flamengo virou realidade!</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            
            <a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, a?</a>
            
        </p>
    </div>
</div>
